
body { 	background-color: 	#abcfc5;
	margin-left: 		15%;
	margin-right: 		15%;
	border: 		4px dotted #7c809b;
	padding: 		20px;
	font:			medium Arial, sans-serif;
	background-image:	url(/runbun/flowerbg.png); }

h1 { 	border-bottom: 	4px dotted #7c809b;
	color: 		#242038;
	font-size: 	2em;
	margin-bottom:	0; }

h2 {	color: 		#242038;
	font-size: 	1.4em;
	font-weight: 	normal;
	margin-bottom:	0; }

h3 {	color:		#242038; }

p {	color: 		#444444;
	margin-top: 	0; }

#bod {	background-color: 	#c8ebe1;
	border:			4px outset #abcfc5; }

#cannabun { float:		right;
	font-size:		0.8em;
	text-align:		center;
	margin:			10%;
	padding:		10px;
	border:			4px dashed #abcfc5;
	background-image: 	url(/runbun/cafe/gummybg.png); }

#foot {	font-size:	0.4em;
	color:		#7c809b;
	margin-top:	30px; }

.padleft { padding-left: 15px; }

/* fonts */
.fang {		font-family: "FangSong" }
.gulim {	font-family: "Gulim" }
.mvboli { 	font-family: "MV Boli" }


